.timer {
    width: 80px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #607274;
    color: white;
    font-family: roboto, monospace, serif;
    font-size: 15px
}

#timeContainer {
    max-width: 300px;
    border: 3px solid;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(120, 141, 145, 0.99);
    border-color: rgba(120, 141, 145, 0.99);
    padding: 50px                                                                                                                                                                                                                                                                                                                                                ;
    }

#timeDisplay {
    font-size: 75px;
    font-family: roboto, monospace, serif;
    color: #F0F0F0;
}

#title {
    font-size: 45px;
    font-family: roboto, monospace, serif;
    text-align: center;
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #607274;
    padding: 3px;
    color: #F0F0F0;
}

.topButtons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;

}

#topLink {
    width: 110px;
    height: 50px;
    border: 3px solid;
    border-radius: 10px;
    font-size: 13px;
    color: #F0F0F0;
    border-color: #F0F0F0;
    background-color: #607274;
    font-family: roboto, monospace, serif;
}



body {
    background-color: #607274;
    color: #96A78D;
    margin: 0;
    padding: 0;

}

hr {
    color: #F0F0F0;
    background-color: #F0F0F0;
    height: 1px;
    margin-bottom: 20px;
}
