.timer {
    width: 80px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #607274;
    color: white;
    font-family: roboto, monospace, serif;
    font-size: 15px
}

#timeContainer {
    max-width: 400px;
    border: 3px solid;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(120, 141, 145, 0.99);
    border-color: rgba(120, 141, 145, 0.99);
    padding: 50px                                                                                                                                                                                                                                                                                                                                                ;
    }

#timeDisplay {
    font-size: 75px;
    font-family: roboto, monospace, serif;
    color: #F0F0F0;
}

#breakDropdown {
    width:140px;
    text-align: center;
}

#title {
    font-size: 45px;
    font-family: roboto, monospace, serif;
    text-align: center;
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #607274;
    padding: 3px;
    color: #F0F0F0;
    text-decoration: None;
}

.topNav a {
    text-decoration: None;
    color: #F0F0F0;
}

#topUL {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;

}

#topUL li {
    padding-left: 5px;
    margin-right: 5px;
    line-height: 50px;
    font-size: 16px;
}

#topContent{
    width: 110px;
    height: 50px;
    border: 3px solid;
    border-radius: 10px;
    font-size: 13px;
    color: #F0F0F0;
    border-color: #F0F0F0;
    background-color: #607274;
    font-family: roboto, monospace, serif;

}

#topContent a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-decoration: None;
    color: #F0F0F0;
}

body {
    background-color: #607274;
    color: #F0F0F0;
    margin: 0;
    padding: 0;

}

hr {
    color: #F0F0F0;
    background-color: #F0F0F0;
    height: 1px;
    margin-bottom: 20px;
}

/*.flashTitle {*/
/*    text-align: center;*/
/*}*/

.flashcard {
    text-align: center;
}

#flashContent {
    padding: 100px;
    max-width: 500px;
    margin-bottom: 10px;
    background-color: #607274;
    border-color: #F0F0F0;
    border-radius: 15px;
    color: #F0F0F0;
    font-family: roboto, monospace, serif;
}

.flashButtons {
    display: flex;
    justify-content: center;
    gap: 200px;

}

.flashBack {
    background-color: #607274;
    border-color: #F0F0F0;
    border-radius: 3px;
    color: #F0F0F0;
}

.flashForward {
    background-color: #607274;
    border-color: #F0F0F0;
    border-radius: 3px;
    color: #F0F0F0;
}