<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}App{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topNav">
        <h1><img src="/images/wave.png" alt="wave icon" style="float:left;width:30px;height:30px;margin:9px;">Minionocus</h1>
        <div class="topButtons">
            <button id="topLink">Report</button>
            <button id="topLink">Flashcards</button>
            <button id="topLink">Challenges</button>
        </div>
    </div>
    <hr>
    {% block content %} {% endblock %}
</body>
</html>