<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Minionoucs{% endblock %}</title>
    <link rel="icon" href="/images/wave.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topNav">
        <h1>
            <img src="/images/wave.png" alt="wave icon" style="float:left;width:30px;height:30px;margin:9px;">
            <a href="{{ url_for('index') }}">Minionoucs</a></h1>
        <div class="topButtons">
            <nav>
                <ul id="topUL">
                    <li id="topContent"><a href="{{ url_for('report') }}">Report</a></li>
                    <li id="topContent"><a href="{{ url_for('flashcards') }}">Flashcards</a></li>
                    <li id="topContent"><a href="{{ url_for('challenges') }}">Challenges</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <hr>
    {% block content %} {% endblock %}
</body>
</html>