{% extends 'base.html' %}e
<!DOCTYPE html>
<html lang="en">

{#<head>#}
{#    <title>timer</title>#}
{#    <link rel="stylesheet" href="/css/style.css">#}
{#    <meta charset="UTF-8">#}
{#</head>#}
{% block content %}

<body>
    <div id="timeContainer">
        <div id="timeDisplay">10:00</div>
        <button id="startTimer" class="timer">Start</button>
        <button id="stopTimer" class="timer">Stop</button>
        <button id="resetTimer" class="timer">Reset</button>
    </div>
    <script src="/js/timer.js"></script>

</body>

{% endblock %}